.subscribe {
  background-color: #f7f6f2;
  margin-top: 125px;
}

.subscribe__form {
  @include wrapper;
  display: flex;
  padding: 50px 0 100px;
}

.subscribe__left {
  padding-right: 70px;
}

.subscribe__tagline {
  @include tagline(12px);
}

.subscribe__title {
  @include title(35px);
  margin: 0;
}

.subscribe__label {
  flex-grow: 1;
  display: flex;
}

.subscribe__input {
  flex-grow: 1;
  align-self: center;
  padding: 19px;
  border-radius: 25px;
  border: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

.subscribe__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc;
}

.subscribe__input::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
}

.subscribe__input:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
}

.subscribe__input:-moz-placeholder { /* Firefox 18- */
  color: #cccccc;
}

.subscribe__btn {
  border-radius: 25px;
  border: 0;
  background-color: #7cc000;
  padding: 17px 45px 18px 45px;
  align-self: center;
  margin-left: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: $white-color;
  line-height: 1.2;
  text-transform: lowercase;
}
