.products {
  @include wrapper;
  margin-top: 130px;
}

.products__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px;
  margin-top: 70px;
}

.products__list {
  @include list;
  display: grid;
  grid-template-columns: 170px 170px 170px;
  grid-column-gap: 30px;
}

.products__item {
  display: flex;
}

.products__link {
  position: relative;
  border: 2px solid #efefef;
  border-radius: 7px;
  display: flex;
  flex-flow: column;
  padding: 175px 5px 40px;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 50% 0;

  &::before {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: #efefef;
  }

  &:hover {
    border-color: $green-color;
    box-shadow: 0 10px 60px -10px rgba(0, 0, 0, 0.3);
  }

  /* stylelint-disable */
  @for $i from 1 through 6 {
    &--#{$i} {
      background-image: url("../img/products-#{$i}.jpg");
    }
  }
  /* stylelint-enable */
}

.products__title {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 300;

  &--bold {
    font-weight: 900;
  }
}

.products__amount {
  font-size: 13px;
  font-family: "Helvetica", sans-serif;
  font-style: italic;
  color: #7fb900;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.products__desc {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &--left {
    order: -1;
    padding-right: 100px;
  }

  &--right {
    order: 2;
    padding: 0 60px;
  }
}

.products__desc-tagline {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  letter-spacing: 0.4em;
  font-weight: 500;
}

.products__desc-title {
  font-size: 35px;
  line-height: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;

  &--bold {
    font-weight: 900;
  }
}

.products__desc-text {
  font-size: 16px;
  line-height: 1.8;
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  margin: 0;
}
