.blog__wrapper {
  @include wrapper;
}

.blog__title,
.blog__tagline {
  text-align: center;
  display: block;
}

.blog__tagline {
  @include tagline(12px);
}

.blog__title {
  @include title(35px);
  margin: 25px 0 0;
}

.blog__list {
  @include list;
  margin-top: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}
